.full_parts {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
}
/* intraduction section part css code  */

.intros_part {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dac5a700;
}

.full_part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
}

.img_part img {
    width: 420px;
    object-fit: cover;
    filter: brightness(85%);
}

.name_part {
    max-width: 600px;
}

.name_part h1 {
    font-size: 100px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
}

.name_part h3 {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 40px;
    font-weight: 400;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.buttons button {
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}


.buttons h4 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

/* detail section part css code  */

.detail {
    display: flex;
    background-color: #dac5a700; /* dark theme */
    min-height: 100vh;
    padding: 0 40px 40px;
    gap: 100px;
}

.menu_part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(218, 197, 167, 0.04);
    border: 1px solid rgb(218, 197, 167, 0.2);;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    height: fit-content;
}

.menu_part button {
    background: transparent;
    background-color: rgb(218, 197, 167, 0.04);
    border: 1px solid rgb(218, 197, 167, 0.2);;
    color: #e9cea2;
    font-size: 18px;
    padding: 10px 90px;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 1.1px;
}

.menu_part button:hover {
    background: #fabe5d;
    color: #0d0d0d;
}

.detail_part {
    flex: 1;
    background: #dac5a700;
    border-radius: 0px;
    overflow-y: auto;
    max-height: 90vh;
    
}

.detail_part section {
    margin-bottom: 30px;
    padding: 40px;
    background-color: rgb(218, 197, 167, 0.04);
    border: 1px solid rgb(218, 197, 167, 0.2);;
}

.detail_part h1 {
    font-size: 50px;
    margin: 0px 0 20px 0;
    line-height: 1.1;
}

.detail_part h3 {
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 100;
    margin-top: 0px;
}

.detail_part p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.mephoto {
    width: 100%;
    /* height: 800px; */
    text-align: center;
    margin-top: 20px;
    background-color: rgb(218, 197, 167, 0.04);
    border: 1px solid rgb(218, 197, 167, 0.2);
}
.mephoto img {
    width: 350px;
    /* height: 600px; */
    height: auto;
    object-fit: cover;
}
.edu {
    border-top: 1px solid #eac17f;
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.edu h3 {
    font-size: 18px;
}

.edu h4 {
    font-size: 14px;
}
section .part_3{
    padding: 10px;
    background-color: #dac5a700;
}
section .ski_h{
    background-color: rgb(218, 197, 167, 0.04);
    border: 1px solid rgb(218, 197, 167, 0.2);;
}
.skl {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.lang {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(218, 197, 167, 0.04);
    border: 1px solid rgb(218, 197, 167, 0.2);;
    padding: 20px;
    border-radius: 5px;
    width: 240px;
}

.lang img {
    width: 50px;
    height: 50px;
}

.lang h3 {
    font-size: 25px;
}


/* ==================== Responsive ==================== */
@media (max-width: 1024px) {
    .full_parts {
        margin: 0px 40px;
    }
    .full_part {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .img_part img {
        width: 280px;
    }
    .name_part h1 {
        font-size: 60px;
    }
    .name_part h3 {
        font-size: 18px;
    }
    .detail {
        flex-direction: column;
        gap: 40px;
    }
    .menu_part {
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu_part button {
        padding: 10px 30px;
        font-size: 16px;
    }
}

@media (max-width: 780px) {
    .full_parts {
        margin: 0px 15px;
    }
    .name_part h1 {
        font-size: 40px;
    }
    .name_part h3 {
        font-size: 16px;
    }
    .buttons h4 {
        font-size: 14px;
    }
    .detail_part h1 {
        font-size: 30px;
    }
    .detail_part p {
        font-size: 16px;
    }
    .mephoto img {
        width: 250px;
    }
    .skl {
        flex-direction: column;
        align-items: center;
    }
    .lang {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
    .lang h3 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .full_parts {
        margin: 0px 10px;
    }
    .intros_part{
        padding: 0px;
        margin-bottom: -40px;
        /* background-color: aliceblue; */
    }
    .full_part {
        flex-direction: column;
        gap: 0px;
        text-align: center;

    }

    .img_part img {
        width: 250px;
    }

    .name_part h1 {
        font-size: 32px;
        line-height: 1.2;
    }

    .name_part h3 {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .buttons {
        text-align: center;
        justify-content: center;
        gap: 5px;
        img{
            width: 35px;
            height: 35px;
        }
    }

    .buttons h4 {
        font-size: 12px;
    }

    /* Detail section */
    .detail {
        flex-direction: column;
        gap: 35px;
        padding: 0px 15px;
    }

    .menu_part {
        flex-direction: column;
        /* width: 100%; */
        gap: 12px;
        padding: 20px;
    }

    .menu_part button {
        padding: 8px 15px;
        font-size: 14px;
        width: 100%;
    }
    
    /* details section */
    .detail_part section {
        padding: 20px;
    }

    .detail_part h1 {
        font-size: 24px;
    }

    .detail_part h3 {
        font-size: 14px;
    }

    .detail_part p {
        font-size: 14px;
    }

    .mephoto img {
        width: 180px;
        margin: 10px 0 5px;
    }

    /* education section */
    .edu {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        text-align: left;
    }0

    .edu h3 {
        font-size: 14px;
    }

    .edu h4 {
        font-size: 12px;
    }

    /* Skills section */
    .part_3{
        padding-bottom: 0;
        background-color: #d1923800;
    }
    .ski_h{
        padding: 10px;
    }
    .skl {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: -20px;
    }

    .lang {
        width: 95%;
        justify-content: center;
        gap: 20px;
        padding: 5px;
    }

    .lang img {
        width: 30px;
        height: 30px;
    }

    .lang h3 {
        font-size: 18px;
    }
}
