nav {
    padding: 0px 70px;
    border-bottom: 1px solid rgb(218, 197, 167, 0.4);
    border-top: 1px solid rgb(218, 197, 167, 0.4);
    background-color: rgb(218, 197, 167, 0.1);
}
.sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sidebar img {
    width: 60px;
    height: auto;
}
.sidebar ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.sidebar ul a {
    text-decoration: none;
    color: rgb(218, 197, 167);
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.5px;
}
.sidebar button {
    text-align: center;
    width: 100px;
    background-color: rgb(218, 197, 167, 0.4);
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}
.sidebar button a {
    text-decoration: none;
    color: rgb(0, 0, 167);
}

/* ================= Responsive ================= */
@media (max-width: 1024px) {
    nav {
        padding: 0px 40px;
    }
    .sidebar ul {
        gap: 25px;
    }
    .sidebar ul a {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 0px 20px;
    }
    .sidebar {

        align-items: flex-start;
        gap: 15px;
        padding: 20px 10px;
    }
    .sidebar ul {
        width: 100%;
        gap: 15px;
    }
    .sidebar ul a {
        font-size: 16px;
    }
    .sidebar button {
        align-items: flex-end;
        width: 100%;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 0px 10px;
        text-align: center;
    }
    .sidebar img {
        width: 40px;
        margin:0px;
    }
    .sidebar ul {
        /* gap: 10px; */
        margin: 0px
    }
    .sidebar ul a {
        font-size: 11px;
    }
    .sidebar button {
        padding: 5px;
        font-size: 12px;
    }
}
